/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body, html {
    font-family: 'Poppins';
    text-align: center;
    font-size: 16px;
    height: 100%;
    width: 100%;
}
/* header section */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fdcdff;
    padding: 20px;
    border-bottom: 4px solid #242286;
}

header #logo-link {
    text-decoration: none;
}

nav#header-nav {
    z-index: 10;
    position: fixed;
    display: none;
    flex-direction: column;
    top: 0;
    padding: 100px 40px 0;
    height: 100%;
    background: #f9f9f9;
    border-right: 4px solid #242286;
}

nav#header-nav a {
    padding-bottom: 20px;
    color: #242286;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
}

nav#header-nav a.active {
    color: #6e6e6e;
    text-decoration: underline;
    font-weight: 500;
}

nav#header-nav a:hover {
    color: #6e6e6e;
    text-decoration: underline;
    transform:scale(.95);
    transition: 0.3s all;
}

nav#header-nav a.active:hover {
    color: #6e6e6e;
    text-decoration: underline;
    transform:scale(1);
    transition: 0s all;
    font-weight: 500;
}

div#toggle {
    position: fixed;
    z-index: 20;
    top: 20px;
    left: 25px;
    font-size: 30px;
    color: #242286;
}

div#toggle:hover {
    color: #6e6e6e;
    transform:scale(.95);
    transition: 0.3s all;
    cursor: pointer;
}

div#logo {
    display: flex;
    justify-content: center;
}

div#logo img {
    width: auto;
    height: 46px;
    margin: auto 0;
    padding-right: 10px;
}

div#logo #logo-text {
    font-weight: 800;
    font-size: 30px;
    color: #242286;
}
/* body section */
section#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 40px;
    background: #ffffff;
    justify-content: start;
}

section#body.home {
    background: url(images/home-background.jpg) no-repeat center center / cover;
    padding-top: 0px;
    justify-content: center;
    height: 100%;
}

section#body.home h1 {
    font-size: 80px;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    text-shadow: 4px 4px 5px rgb(255, 255, 255);
}

section#body.home #body-text {
    padding-bottom: 30px;
    font-size: 20px;
}

section#body.team #img-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 60px 0 200px;
}

section#body.team #img-holder h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}

section#body.team #img-holder div {
    color: #242286;
    font-size: 14px;
    font-weight: 400;
}

section#body.team #img-holder img {
    width: 250px;
    height: auto;
    border-radius: 125px;
}

section#body.about #body-text {
    padding-bottom: 20px;

}

section#body.about #services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

section#body.about #services .service:hover {
    transform:scale(.95);
    transition: 0.3s all;
}

section#body.about #services i {
    font-size: 45px;
    color: #242286;
    padding-bottom: 20px;
}

section#body #body-text {
    padding: 0 40px;
    max-width: 800px;
    color: #000000;
}

section#body h1 {
    padding: 20px 0;
    font-size: 34px;
    font-weight: 700;
    color: #242286;
}
/* footer section */
footer {
    position: fixed;
    bottom: 0;
    background: #dbdbdb;
    width: 100%;
    padding: 20px;
    border-top: 4px solid #242286;
}

footer nav#footer-nav {
    display: flex;
    justify-content: center;
}

footer nav#footer-nav a {
    color: #242286;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    padding: 0 10px;
    text-align: center;
}

footer nav#footer-nav a.active {
    color: #6e6e6e;
    text-decoration: underline;
    font-weight: 500;
}

footer nav#footer-nav a:hover {
    color: #6e6e6e;
    text-decoration: underline;
    transform:scale(.95);
    transition: 0.3s all;
}

footer nav#footer-nav a.active:hover {
    color: #6e6e6e;
    text-decoration: underline;
    transform:scale(1);
    transition: 0s all;
    font-weight: 500;
}
/* media queries */
@media screen and (max-width: 800px) {
    section#body #body-text {
        padding: 0 20px;
    }

    section#body.home #body-text {
        font-size: 16px;
    }

    section#body.team #img-holder {
        grid-template-columns: 1fr 1fr;
    }

    section#body.about #services {
        grid-template-columns: 1fr 1fr;
    }

    section#body.home h1 {
        font-size: 60px;
    }
}
@media screen and (max-width: 600px) {
    section#body #body-text {
        padding: 0 10px;
    }

    section#body.home #body-text {
        font-size: 14px;
    }

    div#logo img {
        height: 30px;
    }
    
    div#logo #logo-text {
        font-size: 20px;
    }

    div#toggle {
        top: 16px;
        left: 16px;
        font-size: 25px;
    }

    footer nav#footer-nav a {
        font-size: 12px;
        padding: 0 5px;
    }
    
    nav#header-nav a {
        font-size: 18px;
    }

    section#body.team #img-holder {
        grid-template-columns: 1fr;
    }

    section#body.home h1 {
        font-size: 45px;
    }

    section#body.about #services {
        grid-template-columns: 1fr;
    }
}
  
